.App {
  text-align: center;
}

.App-header {
  color: #282c34;
}

.App-link {
  color: #6200ee;
}

button {
  border-radius: 50%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

textarea {
  resize: none;
}